name: Python Tests

on:
  workflow_call:
    inputs:
      python-version:
        required: true
        type: string
        description: 'Python version to test with'
      ref:
        required: true
        type: string
        description: 'Git ref to checkout'

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: ${{ inputs.python-version }}
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v6
      with:
        ref: ${{ inputs.ref }}

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ inputs.python-version }}

    - name: Install dependencies
      run: ./scripts/install-deps.sh

    - name: Build and install llguidance
      run: |
        pip uninstall -y llguidance || :
        pip install -v -e .

    - name: Run mypy
      run: mypy
      working-directory: python

    - name: Detect free-threaded Python
      id: gil
      run: |
        if python -c "import sysconfig; exit(0 if sysconfig.get_config_var('Py_GIL_DISABLED') == 1 else 1)"; then
          echo "python_flags=-Xgil=0" >> "$GITHUB_OUTPUT"
        else
          echo "python_flags=" >> "$GITHUB_OUTPUT"
        fi

    - name: Run torch tests
      run: python ${{ steps.gil.outputs.python_flags }} -m pytest -v python/torch_tests/

    - name: Clone guidance
      run: git clone -b main https://github.com/guidance-ai/guidance tmp/guidance

    - name: Print guidance info
      run: echo "Branch:$(git branch --show-current) Remote:$(git remote get-url origin) HEAD:$(git rev-parse HEAD)"
      working-directory: tmp/guidance

    - name: Run guidance tests
      run: python ${{ steps.gil.outputs.python_flags }} -m pytest -v tests/unit/test_[lgmp]*.py tests/unit/library
      working-directory: tmp/guidance

    - name: Build sdist
      run: maturin build --sdist --zig

    - name: Build wheel
      run: maturin build --zig

    - name: Upload sdist and wheel artifact
      uses: actions/upload-artifact@v6
      with:
        name: wheels-${{ inputs.python-version }}
        path: target/wheels/*
