name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
    inputs:
      commit_id:
        description: 'Branch or Commit ID (optional)'
        required: false
        type: string
  schedule:
    # * is a special character in YAML so we quote this string
    # Run at 09:10 UTC every day
    - cron:  '10 09 * * *'

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    name: Lint
    uses: ./.github/workflows/lint.yml
    with:
      ref: ${{ github.event_name == 'workflow_dispatch' && inputs.commit_id || github.sha }}

  rust-tests:
    name: Rust Tests (${{ matrix.profile }})
    uses: ./.github/workflows/rust-tests.yml
    strategy:
      matrix:
        profile: [debug, release]
    with:
      profile: ${{ matrix.profile }}
      ref: ${{ github.event_name == 'workflow_dispatch' && inputs.commit_id || github.sha }}

  sample-parser:
    name: Sample Parser (${{ matrix.profile }})
    uses: ./.github/workflows/sample-parser-tests.yml
    strategy:
      matrix:
        profile: [debug, release]
    with:
      profile: ${{ matrix.profile }}
      ref: ${{ github.event_name == 'workflow_dispatch' && inputs.commit_id || github.sha }}

  c-sample:
    name: C Sample
    uses: ./.github/workflows/c-sample.yml
    with:
      ref: ${{ github.event_name == 'workflow_dispatch' && inputs.commit_id || github.sha }}

  lark-tests:
    name: Lark Tests
    uses: ./.github/workflows/lark-tests.yml
    with:
      ref: ${{ github.event_name == 'workflow_dispatch' && inputs.commit_id || github.sha }}

  maskbench:
    name: MaskBench
    uses: ./.github/workflows/maskbench.yml
    with:
      ref: ${{ github.event_name == 'workflow_dispatch' && inputs.commit_id || github.sha }}

  python-tests:
    name: Python ${{ matrix.python-version }}
    uses: ./.github/workflows/python-tests.yml
    strategy:
      matrix:
        python-version: ["3.11", "3.14t"]
    with:
      python-version: ${{ matrix.python-version }}
      ref: ${{ github.event_name == 'workflow_dispatch' && inputs.commit_id || github.sha }}

  msrv:
    name: MSRV Check

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Set up Rust
      uses: dtolnay/rust-toolchain@1.87.0
      with:
        components: clippy

    - name: Build parser
      run: cargo build --verbose --locked
      working-directory: parser
